<div class="px-2 mt-20">
  <h2 class="mb-8 text-2xl font-semibold text-center">
    Subscription <span class="text-primary-color">Form</span>
  </h2>
  <div class="flex flex-col justify-center gap-5 md:flex-row">
    <input
      class="border border-black px-4 py-2 drop-shadow-xl lg:min-w-[25rem]"
      placeholder="Enter name"
      type="text"
    />
    <input
      class="border border-black px-4 py-2 drop-shadow-xl lg:min-w-[25rem]"
      placeholder="Enter Email"
      type="email"
    />
    <button class="py-2 text-white bg-primary-color px-7">Submit</button>
  </div>
</div>
