<div class="mt-20 mb-20">
  <h1 class="mb-5 font-semibold text-2xl text-secondary-color">
    General <span class="text-primary-color">Knowledge</span>
  </h1>
  <p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illum
    repellat, voluptatum
  </p>
  <div
    class="flex flex-row flex-wrap md:gap-10 justify-center md:justify-start"
  >
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</div>
