<div class="flex flex-col justify-center mt-16 md:mt-32">
  <h2 class="text-2xl font-semibold">
    Other <span class="text-primary-color">Blogs</span>
  </h2>
  <div class="flex flex-row mt-5 mb-10 overflow-auto md:gap-5 scroll-mx-28">
    <a href="#" class="hover:border-b-8"><h1>All</h1> </a>
    <div
      class="flex flex-row h-8 gap-10 pb-5"
      *ngFor="let category of categoryArray"
    >
      <div class="text-sm sm:text-base scroll min-w-[10rem] md:min-w-0" href="">
        <h2 [routerLink]="['category', category.id]">
          {{ category.data.category }}
        </h2>
      </div>
    </div>
  </div>
  <div
    class="flex flex-row flex-wrap justify-center md:flex-row md:gap-12 md:justify-start"
  >
    <div *ngFor="let post of postArray">
      <app-post-card [PostData]="post"></app-post-card>
    </div>
  </div>
</div>
