<div class="flex flex-col gap-7">
  <h2 class="text-2xl mb-8 font-semibold">
    Subscription <span class="text-primary-color">Form</span>
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsum,
    labore a, necessitatibus et molestiae officiis, provident eaque aperiam
    velit
  </p>
  <div class="flex flex-row overflow-x- gap-10 h-8 pb-14 overflow-y-auto">
    <a href="" class="border-b-2"><h1>All</h1> </a>
    <a href=""> <h2>UI</h2></a>
    <a href=""> <h2>UX</h2></a>
    <a href=""> <h2>Product</h2> </a>
    <a href=""> <h2>Product</h2> </a>
    <a href=""> <h2>Product</h2> </a>
    <a href=""> <h2>Product</h2> </a>
  </div>
  <div class="flex flex-wrap flex-row md:flex-row">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</div>
