<div class="bg-[#f1f5f9] p-12 flex flex-col gap-10 mt-10 justify-center">
  <h1 class="text-2xl mb-8">Comments(25)</h1>
  <div class="bg-white flex flex-col gap-5 p-5 w-auto max-w-[73.75rem]">
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold">John Duo</h1>
      <p class="text-xs text-blue-500">LAST UPDATED - SEP 20 2022</p>
    </div>
    <P class="font-light text-sm sm:max-w-[60rem] leading-6"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores
      odio soluta molestiae cum accusantium reiciendis. Dolore est explicabo,
      esse facere non eum quae incidunt? Fugiat ,,odio soluta molestiae cum
      accusantium reiciendis. Dolore est explicabo, esse facere non eum quae
      incidunt? Fugiat ,odio soluta molestiae cum accusantium reiciendis. Dolore
      est explicabo, esse facere non eum quae incidunt? Fugiat esse facere non
      eum quae incidunt? Fugiat ,odio soluta molestiae cum accusantium
      reiciendis. Dolore est explicabo, esse facere non eum quae incidunt?
      Fugiat
    </P>
    <div class="flex flex-row gap-4">
      <p class="text-sm font-medium text-primary-color">REPLY</p>
      <p class="text-sm font-medium text-primary-color">VIEW REPLY</p>
    </div>
  </div>
  <div class="bg-white flex flex-col gap-5 p-5 w-auto max-w-[73.75rem]">
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold">John Duo</h1>
      <p class="text-xs text-blue-500">LAST UPDATED - SEP 20 2022</p>
    </div>
    <P class="font-light text-sm sm:max-w-[60rem] leading-6"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores
      odio soluta molestiae cum accusantium reiciendis. Dolore est explicabo,
      esse facere non eum quae incidunt? Fugiat ,,odio soluta molestiae cum
      accusantium reiciendis. Dolore est explicabo, esse facere non eum quae
      incidunt? Fugiat ,odio soluta molestiae cum accusantium reiciendis. Dolore
      est explicabo, esse facere non eum quae incidunt? Fugiat esse facere non
      eum quae incidunt? Fugiat ,odio soluta molestiae cum accusantium
      reiciendis. Dolore est explicabo, esse facere non eum quae incidunt?
      Fugiat
    </P>
    <div class="flex flex-row gap-4">
      <p class="text-sm font-medium text-primary-color">REPLY</p>
      <p class="text-sm font-medium text-primary-color">VIEW REPLY</p>
    </div>
  </div>
  <div class="bg-white flex flex-col gap-5 p-5 w-auto max-w-[73.75rem]">
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold">John Duo</h1>
      <p class="text-xs text-blue-500">LAST UPDATED - SEP 20 2022</p>
    </div>
    <P class="font-light text-sm sm:max-w-[60rem] leading-6"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores
      odio soluta molestiae cum accusantium reiciendis. Dolore est explicabo,
      esse facere non eum quae incidunt? Fugiat ,,odio soluta molestiae cum
      accusantium reiciendis. Dolore est explicabo, esse facere non eum quae
      incidunt? Fugiat ,odio soluta molestiae cum accusantium reiciendis. Dolore
      est explicabo, esse facere non eum quae incidunt? Fugiat esse facere non
      eum quae incidunt? Fugiat ,odio soluta molestiae cum accusantium
      reiciendis. Dolore est explicabo, esse facere non eum quae incidunt?
      Fugiat
    </P>
    <div class="flex flex-row gap-4">
      <p class="text-sm font-medium text-primary-color">REPLY</p>
      <p class="text-sm font-medium text-primary-color">VIEW REPLY</p>
    </div>
  </div>
</div>
