<app-hero-section></app-hero-section>
<div class="mt-20 flex flex-col justify-center">
  <h1 class="text-2xl font-bold text-primary-color">
    Featured <span class="text-secondary-color">Blogs</span>
  </h1>
  <div
    class="flex flex-wrap flex-row md:flex-row md:gap-12 justify-center md:justify-start"
  >
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
  <app-category-navbar></app-category-navbar>
</div>
