<div class="flex flex-col gap-12 mb-10">
  <img
    class="max-w-[80.25rem] max-h-[31.75rem] object-cover"
    src="../../../assets/boxImage.jpg"
    alt=""
  />
  <div class="list-none flex flex-row gap-3 text-xs font-normal">
    <li class="text-primary-color">Design</li>
    <li class="text-violet-400">Featured</li>
    <li class="text-blue-400">Views-1200</li>
    <li class="text-yellow-300">LAST UPDATED-SEP 20 2022</li>
  </div>
  <h1>HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
  <div>
    <div class="flex flex-row gap-5">
      <div class="flex">
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illo
          ratione, quisquam aspernatur fugit cum excepturi pariatur totam
          eveniet quam, nostrum, eaque? Harum, illo temporibus obcaecati ducimus
          <br />
          culpa quas libero! Doloremque minima vitae expedita cum ducimus harum
          ipsa, eligendi nemo distinctio nam exercitationem voluptatem
          architecto laudantium velit pariatur nesciunt, quibusdam autem, porro
          odit? Odio tempora amet quidem Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Nihil illo ratione, quisquam aspernatur fugit cum
          excepturi pariatur totam eveniet quam, nostrum, eaque? Harum, illo
          temporibus obcaecati ducimus culpa quas libero! Doloremque minima
          <br />
          vitae expedita cum ducimus harum ipsa, eligendi nemo distinctio nam
          exercitationem voluptatem architecto laudantium velit pariatur
          nesciunt, quibusdam autem, porro odit? Odio tempora amet quidem Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Nihil illo ratione,
          quisquam aspernatur fugit cum excepturi pariatur totam eveniet quam,
          nostrum, eaque? Harum, illo temporibus obcaecati ducimus culpa quas
          libero! Doloremque minima vitae expedita cum ducimus harum ipsa,
          <br />
          eligendi nemo distinctio nam exercitationem voluptatem architecto
          laudantium velit pariatur nesciunt, quibusdam autem, porro odit? Odio
          tempora amet quidem Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Nihil illo ratione, quisquam aspernatur fugit cum excepturi
          pariatur totam eveniet quam, nostrum, eaque? Harum, illo temporibus
          obcaecati ducimus culpa quas libero! Doloremque minima vitae expedita
          cum ducimus harum ipsa, eligendi nemo distinctio nam exercitationem
          voluptatem architecto laudantium velit pariatur nesciunt, quibusdam
          autem, porro odit? Odio tempora amet quidem
        </p>
      </div>
      <div class="hidden sm:block sm:-mt-10">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
  <div>
    <app-comment-form></app-comment-form>
    <app-comment-list></app-comment-list>
  </div>
</div>
