<div class="flex flex-col gap-12 mb-10" *ngIf="postArray">
  <img
    class="max-w-[80.25rem] max-h-[31.75rem] object-cover"
    src="{{ postArray.postImgPath }}"
    alt=""
  />
  <div class="flex flex-row gap-3 text-xs font-normal list-none">
    <li class="text-primary-color">{{ postArray.category.category }}</li>
    <li class="text-violet-400">Featured</li>
    <li class="text-blue-400">Views-{{ postArray.views }}</li>
    <li class="text-yellow-300">{{ postArray.createdAt.toMillis() | date }}</li>
  </div>
  <h1 class="text-4xl font-semibold">{{ postArray.title }}</h1>
  <div>
    <div class="flex flex-row gap-5">
      <div class="flex">
        <p
          [innerHTML]="postArray.content"
          class="text-base font-light leading-8"
        ></p>
      </div>
      <div class="flex flex-col">
        <div
          class="hidden sm:block sm:-mt-10"
          *ngFor="let similar of similarPostArray"
        >
          <div>
            <app-post-card [PostData]="similarPostArray[0]"></app-post-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-comment-form></app-comment-form>
    <app-comment-list></app-comment-list>
  </div>
</div>
