<div class="bg-black">
  <div class="bg-black mt-10 p-8 text-white">
    <div class="flex flex-col gap-4 max-w-[10.5rem] max-h-32">
      <h1 class="font-bold text-2xl">ZEPPLINS</h1>
      <p class="text-sm">Learn From the Documentation</p>
    </div>
  </div>
  <div class="list-none text-white flex flex-wrap pl-8 pr-2 bg-black gap-6">
    <div class="flex flex-col gap-3 min-w-[7rem]">
      <li>
        <a href="">Home </a>
      </li>
      <li>
        <a href="">Contact </a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Location</a>
      </li>
      <li>
        <a href="">Site </a>
      </li>
    </div>
    <div class="flex flex-col gap-3 min-w-[7rem]">
      <li>
        <a href="">Home </a>
      </li>
      <li>
        <a href="">Contact </a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Location</a>
      </li>
      <li>
        <a href="">Site </a>
      </li>
    </div>
    <div class="flex flex-col gap-3 min-w-[7rem]">
      <li>
        <a href="">Home </a>
      </li>
      <li>
        <a href="">Contact </a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Location</a>
      </li>
      <li>
        <a href="">Site </a>
      </li>
    </div>
    <div class="flex flex-col gap-2 min-w-[7rem]">
      <li>
        <a href="">Home </a>
      </li>
      <li>
        <a href="">Contact </a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Location</a>
      </li>
      <li>
        <a href="">Site </a>
      </li>
    </div>
  </div>

  <p class="text-center text-white pb-4">© copyright zepplins</p>
</div>
