<div class="flex flex-row items-center justify-between pr-12">
  <div class="flex flex-col gap-10 mt-20 lg:mb-32">
    <dir class="flex flex-col gap-2 lg:gap-4">
      <h1 class="text-3xl font-bold lg:text-5xl text-primary-color">
        Blog Posts
      </h1>
      <p class="text-xl font-medium lg:text-3xl text-secondary-color">
        I think so,this is it.
      </p>
    </dir>
    <div>
      <p
        class="font-normal text-left text-secondary-color text-sm min-w-[12rem] leading-6 max-w-[35.5rem]"
      >
        Design begins after I begin to think about how to present an experience
        most successfully, whether a button I put in can solve a problem. think
        about how to present an experience most successfully, whether a button I
        put in can solve a problem.
      </p>
    </div>
    <div class="flex w-auto gap-2 text-white md:gap-6">
      <div
        class="flex gap-1 px-5 py-2 bg-twitter-color-btn md:py-4 md:px-7 md:gap-3"
      >
        <img class="w-5" src="../../../assets/twitter.svg" alt="twitter" />
        <button class="text-xs text-">TWITTER</button>
      </div>
      <div class="flex gap-1 px-5 py-2 bg-linkedin-color-btn md:gap-3">
        <img class="w-7" src="../../../assets/linkedin.svg" alt="linkedin" />
        <button class="text-xs">LINKEDIN</button>
      </div>
      <div class="hidden gap-1 px-5 py-2 bg-black md:flex md:gap-3">
        <img class="w-5" src="../../../assets/Group 293.svg" alt="MEDIUM" />
        <button class="text-xs">MEDIUM</button>
      </div>
    </div>
  </div>
  <div class="hidden lg:block">
    <img src="../../../assets/heroImage.svg" alt="" />
  </div>
</div>
