<div class="mt-10 max-w-[24rem] min-w-[16.875rem] mb-12 max-h-[33.75rem]">
  <div>
    <img src="../../../assets/boxImage.jpg " alt="" />
  </div>
  <div class="py-3">
    <div class="flex gap-6 list-none text-xs font-thin">
      <li>INSPIRING</li>
      <li>FEATURED</li>
      <li>VIEWS-13,212</li>
    </div>
    <h1 class="mt-5 mb-2 text-primary-color font-semibold">
      This way is wrong about UI Design.
    </h1>
    <p class="mb-5 text-sm">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptatum
      suscipit commodi inventore deserunt rerum, fugiat dignissimos eveniet? Et
    </p>
    <p class="text-xs font-thin">LAST UPDATED-SEP 20,2020</p>
  </div>
</div>
